body{font-size: 1.5vh;padding: 0;margin: 0;}
div{opacity: 1;}
.line{
  position:absolute;
  width:2px;
  margin-top:-1px;
  background-color:red;
}
#svgContainer {
  z-index: -1;
  /* opacity:  0.5; */
  /* margin:   2.5em 2.5em; */
  position: absolute;
  background-color: #e4e4e4;
  /* width: 98%; */
  /* height: 97%; */
  /* padding: 0; */
  /* margin: 0; */
  pointer-events: none;
}

path {
  fill:   none;
  /* stroke: #000; */
  width: 50px;
  stroke-width: 0.2em;
  height: 100px;
  z-index: 3;
  position: absolute;
  pointer-events: initial;
}

#outer{
  /* width:  80%; */
  margin: 0 auto;
  /* z-index: -1; */
  /* position: relative; */
}

#outer > div {
  min-width: 20px;
  min-height: 20px;
  width: 30px;
  background: #333;
  height: 30px;
  border-radius: 3px;
  /* width: 1em; */
  border: solid 4px transparent;
  border-radius: 50%;
  /* z-index: -14; */
  /* position: unset; */
}

#outer #teal{
  /* width:  6em; */
  /* height: 6em; */
  /* margin-left: 10%; */
  background-color: #71c1c1;
}

#outer #orange{
  /* width: 0%; */
  /* height:  4em; */
  /* padding: 2em 4em; */
  /* margin-top:  6em; */
  /* margin-left: 8em; */
  background-color: #b0701e;
}

#outer #red{
  /* width:   6em; */
  /* height:  4em; */
  /* padding: 4em 3em; */
  /* margin-left: 30%; */
  background-color: #8b2424;
}

#outer #aqua{
	/* width:  5em; */
	/* height: 5em; */
	/* margin-left: 15%; */
	background-color: #0697d187;
}

#outer #purple{
	width: 15em;
	height: 5em;
	background-color:purple;
	border-radius: 4px;
}

#outer #green{
	width:  5em;
	height: 7em;
	margin-top:  2em;
	margin-left: 50%;
	background-color: green;
}


@keyframes marching_ants {
  0%   {stroke-dashoffset: 0;}
  100% {stroke-dashoffset: 8*2;}
}

.ants {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 5px 3px;
  animation: marching-ants 1s linear infinite;
  fill: none;
}

.slow {
  animation: marching-ants 2.5s linear infinite;
}

.fast {
  animation: marching-ants .3s linear infinite;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -15px;
  }
}

button{
  padding: 1.5em;
}


#ball, .tracker {
  width: 17px;
  height: 7px;
  background-color: #040404;
  /* border-radius: 1px; */
  /* offset-path: path("M126.09375 10 V86.28333333333333 A9.950000000000001 9.950000000000001 0 0 0 136.04375 96.23333333333333 H708.3468750000001 A9.950000000000001 9.950000000000001 0 0 1 718.296875 106.18333333333334 V209"); */
  offset-distance: 20%;
  /* animation: red-ball 16s linear alternate infinite; */
  /* animation-direction: normal; */
  position: absolute;
  animation-duration: 7s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-fill-mode: unset;
  animation-delay: 0s;
  animation-name: red-ball;
}

@keyframes red-ball {
  from {
    offset-distance: 0%;
    /* border: solid 1px; */
  }
  to {
    offset-distance: 100%;
    /* border: solid 12px; */
  }
}


#outer .selected {
    border-color: #333131;
}


svg path:hover {
    stroke: red !important;
}

div#nodes {
    /* position: absolute; */
}