body {
    font-family: 'Roboto', sans-serif;
}

div#pins {
    display: flex;
    /* border: solid; */
    /* width: 400px; */
}

#pins ul {
    /* margin: 0; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0.6em;
}

li.pin {
    /* border: solid; */
    list-style: none;
    display: flex;
    width: 46%;
    flex-grow: 1;
    padding: 0.3em 0.3em;
    margin: 0em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    background: #AAA;
    width: 1.4em;
    height: 1.4em;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    padding: 7px;
    align-content: center;
    align-items: center;
}

li.pin:nth-child(even) {
    /* color: red; */
    flex-direction: row;
    justify-content: start;
}

li.pin:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: end;
    margin-left: auto;
}

li.pin.BCM_GPIO .number {
    background: #378965;
}

li.pin.PIN_GROUND .number {
    background: #342727;
}

li.pin .number {
    color: white;
    font-size: 0.8em;
    margin: 0 0em;
}

.icon {
    padding: 0 0em;
    color: #7e7e7e;
    display: flex;
    font-size: 1.3em;
    margin-left: a;
}

li.pin.PIN_POWER5 .number {
    background: red;
}

.label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding: 0 0.5em;
    /* text-align: right; */
    justify-content: flex-start;
}

li.pin:nth-child(odd) .label {
    justify-content: flex-end;
    /* border: solid; */
    /* text-align: right; */
}

.gpio {
    padding: 0 0.2em;
    font-weight: 700;
    color: #333;
    width: 1.2rem;
    /* text-align: right; */
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
}

li.pin.PIN_POWER3 .number {
    background: #c21550;
}

li.pin.BCM_GPIO {
    color: #828282;
}

.pin:nth-child(odd) .gpio {
    flex-direction: row-reverse;
}

li.pin.PIN_GROUND {
    color: #b8b8b8;
}

li.pin.PIN_POWER3:nth-child(1) .number {
    border-radius: 2px;
    width: 1.2em;
    height: 1.2em;
    /* margin-left: 0.2em; */
}

li:hover.pin {
    background: #cecece;
    border-radius: 17px;
}

li:hover.pin:nth-child(odd) {
    /* color: red; */
    border-radius: 1px 20px 20px 0;
}

.visible {
    display: flex;
    justify-content: flex-end;
    /* flex-grow: 1; */
    /* border: solid; */
    /* align-items: flex-start; */
    align-items: center;
    align-content: center;
    /* align-self: center; */
    /* justify-items: center; */
}

.label .icon i.material-icons {
    font-size: inherit;
}

.pin:nth-child(odd) .visible {
    /* align-items: flex-end; */
    flex-grow: 1;
    display: flex;
    text-align: right;
    /* border: solid; */
}

.pin:nth-child(even) .visible {
    /* align-items: flex-start; */
    color: #9e4d47;
    /* justify-content: flex-start; */
    flex-direction: row-reverse;
}

li.pin:nth-child(even) .label {
    /* color: red; */
    /* align-items: center; */
    flex-direction: row-reverse;
    justify-content: flex-end;
}

li.tag-item {
    margin: 0;
    color: white;
    padding: 0;
    list-style: none;
    font-size: 0.7em;
    /* color: #AAA; */
    padding: 0.3em 0.5em;
    margin: 0.1em;
    border-radius: 3px;
}

.type.raw {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row-reverse; */
}

li.tag-item.tag.type.index.hidden {
    display: none;
}

.hidden {
    display: none;
}

li.option-item {
    /* border: solid; */
    list-style: none;
    margin: 0;
    /* padding: 0.4em; */
    display: flex;
    width: 46%;
    flex-grow: 1;
    flex-shrink: 1;
}

ul.options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* border: solid 3px #444; */
    border-radius: 4px;
    width: 50%;
    height: fit-content;
}

.option-item label {
    flex-grow: 1;
    padding: 0.3em;
    cursor: pointer;
    position: relative;
}

.option-item label:hover {
    background: #EEE;
}

li.option-item:nth-child(n+2) {
    /* background: #EFEFEF; */
}

.color-label {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 3px;
    top: 3px;
    border: solid 4px;
    border-radius: 2px;
}

span.label-value {}

.not-show.color-label {
    background: none !important;
}

.option-item input[type="checkbox"] {
    visibility: hidden;
}

.option-item .color-label i.material-icons {
    color: white;
    font-size: 0.8em;
    line-height: 1.1;
}

.option-item .not-show.color-label i.material-icons {
    color: #aaa;
}








html, body{
  margin: 0;
  padding: 0;
}

#svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#line{
  stroke-width:2px;
  stroke:rgb(0,0,0);
}

.point{
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
}

#one{
  top: 20px;
  left: 50px;
}

#two{
  top: 200px;
  right: 50px;
}



li:hover.pin:nth-child(1) {
    border-radius: 2px;
}

div#pi.small {
    font-size: 0.7em;
    width: 59%;
    background: #f7f7f7;
}

.gpio i.material-icons {
    font-size: 1.3em;
}

.pin:nth-child(odd) .type.raw {
    flex-direction: row-reverse;
}

.name + .index {
    /* color: red; */
    margin: 0em 0em 0 0.4em;
}

#pins .pin:nth-child(odd) ul.tags {
    /* border: solid 1px; */
    margin-left: 0;
}

#pins .pin:nth-child(even) ul.tags {
    margin-right: 0;
}

.action-info {
    display: flex;
    font-size: 1.2em;
}

.action-info .icon {
    font-size: inherit;
}

div#options {
    display: flex;
    border: solid 2px #444;
}

.show-pin {
    width: 50%;
}

.desc {
    /* min-height: 13em; */
    font-size: 1em;
    /* border: solid; */
    line-height: 1.5em;
    margin: 0.5em 0.7em 1em;
}

.types ul.tags {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.tag-link {
    background: #DDD;
    margin: 1px;
    padding: 0.2em 0.3em;
}

.sub-desc .action-info .icon {
    min-width: 1em;
    min-height: 1em;
}

.alt-pins.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.tag-link, .for-pin {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.for-pin {
    /* border: solid 1px; */
    border-radius: 50%;
    font-size: 0.9em;
    padding: 0.3em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0.2em 0em 0.2em 0.4em;
}